version: "3.8"

services:
  gateway:
    deploy:
      replicas: 3
      resources:
        limits:
          memory: 512M
          cpus: "1.0"
        reservations:
          memory: 256M
          cpus: "0.5"

  auth:
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 512M
          cpus: "1.0"

  product:
    deploy:
      replicas: 3
      resources:
        limits:
          memory: 512M
          cpus: "1.0"

  cart:
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 512M
          cpus: "1.0"

  order:
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 512M
          cpus: "1.0"

  payment:
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 512M
          cpus: "1.0"

  nginx:
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 256M
          cpus: "0.5"
